img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    float: left;
    padding: 25px;
}
#menu {
    width: 100%;
    height: 300px;
    background: linear-gradient(75deg, #000000, #FFFFFF);
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.5);
}

h1 {
    font-family: "Lobster", cursive;
    text-align: center;
    font-size: 100px;
    margin-top: 0px;
    padding-top: 90px;
}

#content{
    display: flex;
    font-size: 1.5em;
}

.page{
    padding: 50px;
    width: 50%;
    font-family: 'Inconsolata', monospace;
    text-align: justify;
}

ol li {
    padding: 10px 5px;
    width: 100%;
}

ol li:hover {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid black;
    border-radius: 10px;
}

a {
    text-decoration: none;
    color: black;
}
@media only screen and (max-width: 700px) {
    #menu {
        display: block;
        align-content: center;
    }
    h1 {
        font-size: 50px;
    }
    img {
        width: 150px;
        height: 150px;
        margin-top: 50px;
    }
    .page {
        text-align: right;
        width: 100%;
        display: block;
    }
}