{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Alyson Renan</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata|Lobster&display=swap" rel="stylesheet">
</head>
<body>
    <div id="menu">
        <img src="perfilPicture.jpg" alt="Foto Perfil"/>
        <h1>Alyson Renan</h1>
    </div>
    <div id="content">
        <div class="page">
            <h3>Quem sou eu?</h3>
            <p>
                Oi, meu nome é Alyson Renan, tenho 20 anos e sou natural de Ouricuri-PE.
                Me mudei para Recife este ano para cursar Ciência da Computação no CIn, Centro de Informática da UFPE.
                Por hobby, eu gosto de ler livros de ficção e fantasia, além de tocar violão e, claro, programar!!!
            </p>
        </div>
        <div class="page">
            <h3>Últimos livros lidos:</h3>
            <ol>
                <a href="https://pt.wikipedia.org/wiki/The_Last_Olympian" target="_blank"><li>Percy Jackson - O Último Olimpiano</li></a>
                <!--Um meio-sangue, dos deuses antigos filho,
                    Chegará aos dezesseis apesar de empecilhos
                    Num sono sem fim o mundo estará
                    E a alma do herói, a lâmina maldita ceifará
                    Uma escolha seus dias vai encerrar
                    O Olimpo preservar ou arrasar.-->
                <a href="https://pt.wikipedia.org/wiki/The_Battle_of_the_Labyrinth" target="_blank"><li>Percy Jackson - A Batalha do Labirinto</li></a>
                <a href="https://pt.wikipedia.org/wiki/The_Titan%27s_Curse" target="_blank"><li>Percy Jackson - A Maldição do Titã</li></a>
                <a href="https://pt.wikipedia.org/wiki/The_Sea_of_Monsters" target="_blank"><li>Percy Jackson - O Mar de Monstros</li></a>
                <a href="https://pt.wikipedia.org/wiki/The_Lightning_Thief" target="_blank"><li>Percy Jackson - O Ladrão de Raios</li></a>
            </ol>
        </div>
    </div>    
</body>
</html>